
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}



/* common style */
.common-size{
    max-width: 1200px;
    margin: auto;
}
.common-btn{
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 12px 40px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 8px;
    border: none;
}


/* nav bar start */
nav{
    display: flex;
    justify-content: space-between;
    margin: 23px auto;
}


.nav-contant{
    display: flex;
    align-items: center;
}
.nav-contant ul{
    display: flex;   
    gap: 24px;
    list-style: none;
    color: #575757;
    font-size: 16px;
}
.nav-contant ul li{
    color: #575757;
    font-size: 18px;
}

/* nav bar end*/

/* hero section start */
/* .hero-banner{
    width: 1280px;
    height: 500px;
} */
.hero-contant{
    width: 100%;
    height: 786px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    
}

.hero-styles{
    text-align: center;
    color: #FFFFFF;
    
}
.hero-title{
    font-size: 80px;
    font-weight: 700;
    padding-top: 135px;
    margin-bottom: 16px;
    
    
}
.hero-paragraph{
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 280px;
   
    
}

/* hero section end */

/* gallery section  */
.gallery-contant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 135px;
    
}

.gallery-continer .galary-heading{
    text-align: center;
    font-size: 56px;
    font-weight: 700px;
    padding: 80px 0 65px 0;
    

}
.gallery-items{
    border: 1px solid #e3e3e3;
    border-radius: 12px;
}
.gallery-items img{
    border-radius: 12px 12px 0 0;
}
.gallery-items .gall-item-contant{
    padding: 24px;
}
.gallery-items .gall-item-contant h6{
    font-size: 12px;
    font-weight: 600;
    color: #1D4ED8;
    margin-bottom: 8px;

}
.gallery-items .gall-item-contant h4{
    font-size: 18px;
    font-weight: 700;
    color: #0D1B2A;
    margin-bottom: 8px;

}
.gallery-items .gall-item-contant p{
    font-size: 14px;
    font-weight: 400;
    color: #575757;

}
/* gallery section  */

